# Python Basics

## Basic Linear Algebra

### What is Scalar?
Scalar is a any number like 1, 2, 23 , 2.3.
<br>
**Zero Dimension Tensor** is Scalar

### What is Vector?
Vector is a group of scalar but with homogeneous datatype like (1,2,3), (2.3,1.5,1.0)
<br>
**One Dimension Tensor** is Vector

>**Vector can be easily confused with Tuples**

### What is Tuple?
Tuples is group of scalar with different datatypes like (1,2.3,5,6.3), (8.5,0,3)

### What is Matrix?
Matrix is basicilly a list of equal sized vectors
<br>
[(1,2,3)
(4,5,6)
(7,8,9)]
<br>
**Two Dimension Tensor** is Matrix

# Data Structures
<ol>
<li>Lists</li>
<li>Sets</li>
<li>Tuples</li>
<li>Dictionaries</li>
</ol>

## Lists
A list is a data structure in Python that is a mutable, or changeable,or ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [75]:
l=[1, 2, 3]
print(l)

[1, 2, 3]

In [18]:
type(l)

list

In [74]:
k=list()
k=['m', 'data science', 0, 2.3, False]
print(k)

['m', 'data science', 0, 2.3, False]

In [23]:
type(k)

list

### List Methods
<ol>
    <li>append()	Adds an element at the end of the list</li>
    <li>clear()	Removes all the elements from the list</li>
    <li>copy()	Returns a copy of the list</li>
    <li>count()	Returns the number of elements with the specified value</li>
    <li>extend()	Add the elements of a list (or any iterable), to the end of the current list</li>
    <li>index()	Returns the index of the first element with the specified value</li>
    <li>insert()	Adds an element at the specified position</li>
    <li>pop()	Removes the element at the specified position</li>
    <li>remove()	Removes the first item with the specified value</li>
    <li>reverse()	Reverses the order of the list</li>
    <li>sort()	Sorts the list</li>
    <li>len() Finds the size of list</li>
</ol>

In [32]:
h=[]

In [33]:
h.append(3)
h.append('machine learning')
print(h)
print(len(h))

[3, 'machine learning']
2

In [39]:
h.clear()
print(h)
print(len(h))

[]
0

In [59]:
h.append(['other list'])
h.append('hi')
b=h.copy()
print(h)
print(b)

[25, 'hi', ['other list'], 'hi']
[25, 'hi', ['other list'], 'hi']

In [41]:
company = ['apple', 'google', 'facebook', 'google']
print(company.count('google'))

2

In [44]:
color = ['red', 'blue', 'green']
company.extend(color)
print(company)
print(color)

['apple', 'google', 'facebook', 'red', 'blue', 'green']
['red', 'blue', 'green']

In [46]:
color.index('green')

2

In [48]:
color.insert(0,'pink')
print(color)

['pink', 'red', 'blue', 'green']

In [49]:
company.pop(0)
print(company)

['google', 'facebook', 'red', 'blue', 'green']

In [51]:
company.remove('red')
print(company)

['google', 'facebook', 'blue', 'green']

In [57]:
p=[1,2,3,4,5]
o=[1,2,3,4,5]
p.reverse()
print(o[::-1])
print(p)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [58]:
p.sort()
sorted(o)
print(p)
print(o)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

#### Other Operations

In [61]:
print(sum(l))

6

In [62]:
p=p*3
print(p)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [70]:
print('prints all - ', p[:])
print('prints first 5 - ',p[:5])
print('prints last 5 - ',p[-5:])
print('prints any - ',p[2:6])

prints all -  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
prints first 5 -  [1, 2, 3, 4, 5]
prints last 5 -  [1, 2, 3, 4, 5]
prints any -  [3, 4, 5, 1]

## Sets
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a **hash table**.

In [71]:
s= set()
print(s)

set()

In [72]:
print(type(s))

<class 'set'>

In [76]:
numbers={1,2,3,4,5,5,5,5,5,6,6,6,6,7,7,8,8,8,8,9,9,10}
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Set Methods
<ol>
    <li>add()	Adds an element to the set</li>
      <li>clear()	Removes all the elements from the set</li>
    <li>copy()	Returns a copy of the set</li>
    <li>difference()	Returns a set containing the difference between two or more sets</li>
<li>difference_update()	Removes the items in this set that are also included in another, specified set</li>
    <li>discard()	Remove the specified item</li>
    <li>intersection()	Returns a set, that is the intersection of two other sets</li>
<li>intersection_update()	Removes the items in this set that are not present in other, specified set(s)</li>
    <li>isdisjoint()	Returns whether two sets have a intersection or not</li>
    <li>issubset()	Returns whether another set contains this set or not</li>
    <li>issuperset()	Returns whether this set contains another set or not</li>
    <li>pop()	Removes an element from the set</li>
    <li>remove()	Removes the specified element</li>
    <li>symmetric_difference()	Returns a set with the symmetric differences of two sets</li>
    <li>symmetric_difference_update()	inserts the symmetric differences from this set and another</li>
    <li>union()	Return a set containing the union of sets</li>
    <li>update()	Update the set with the union of this set and others</li>
</ol>

In [79]:
flower={'rose', 'sunflower', 'lotus'}
flower.add('jasmine')
print(flower)

{'rose', 'jasmine', 'sunflower', 'lotus'}

In [80]:
flower.clear()
print(flower)

set()

In [83]:
flower={'rose', 'sunflower', 'lotus'}
flower_clone=flower.copy()
print(flower_clone)

{'rose', 'sunflower', 'lotus'}

In [100]:
set1={1,2,4,5}
set2={1,2,3,4,5}
set2.difference(set1)

{3}

In [111]:
set_company1={'microsoft','google','facebook'}
set_company2={'apple', 'infosys', 'google'}
set_company1.difference_update(set_company2)

In [115]:
set_company1

{'facebook', 'microsoft'}

In [117]:
set_company2

{'apple', 'google', 'infosys'}

In [118]:
set_company2.discard('apple')
print(set_company2)

{'google', 'infosys'}

In [120]:
x={1,2,3}
y={4,2,6}
z=x.intersection(y)
print(z)

{2}

In [123]:
a={1,2,3}
b={1,5,6}
a.intersection_update(b)
print(a)

{1}

In [124]:
x={1,2,3}
y={4,2,6}
z = x.isdisjoint(y)
print(z)

False

In [125]:
x = {'a','b','c'}
y = {'d','e','f','c','b','a'}
z = x.issubset(y)
print(z)

True

In [126]:
y = {'a','b','c'}
x = {'d','e','f','c','b','a'}
z = x.issuperset(y)
print(z)

True

In [127]:
fruits = {"apple", "banana", "grapes"}
fruits.pop()
print(fruits)

{'apple', 'grapes'}

In [129]:
fruits.remove("apple")
print(fruits)

{'grapes'}

In [132]:
x = {"apple", "banana", "grapes"}
y = {"google", "facebook", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'facebook', 'google', 'grapes'}

In [133]:
x = {"apple", "banana", "graps"}
y = {"google", "facebook", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'facebook', 'google', 'graps'}

In [134]:
x = {"apple", "banana", "graps"}
y = {"google", "facebook", "apple"}
z = x.union(y)
print(z)

{'apple', 'banana', 'graps', 'facebook', 'google'}

In [135]:
x = {"apple", "banana", "graps"}
y = {"google", "facebook", "apple"}
x.update(y)
print(x)

{'apple', 'banana', 'graps', 'facebook', 'google'}

#### Other Operations

In [145]:
print(len(x))

5

In [146]:
x={1,2,3}
print(sum(x))

6

In [152]:
y={3,4,8,1,2,6}
print(sorted(y))

[1, 2, 3, 4, 6, 8]

## Tuple
A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses (),  whereas lists use square brackets [ ].

In [137]:
t=tuple()
print(t)

()

In [140]:
t1=()
type(t1)

tuple

In [138]:
type(t)

tuple

In [139]:
t=('a','e','i','o','u')
print(t)

('a', 'e', 'i', 'o', 'u')

### Tuple Methods
<ol>
    <li>count()	Returns the number of times a specified value occurs in a tuple</li>
     <li>index()  Searches the tuple for a specified value and returns the position of where it was found</li>
</ol>

In [141]:
t=('a','e','i','o','u','a','t','e','u','g','a')
print(t.count('a'))

3

In [144]:
print(t.index('e'))

1

#### Other Operations

In [154]:
print(len(t))

11

In [155]:
print(t*3)

('a', 'e', 'i', 'o', 'u', 'a', 't', 'e', 'u', 'g', 'a', 'a', 'e', 'i', 'o', 'u', 'a', 't', 'e', 'u', 'g', 'a', 'a', 'e', 'i', 'o', 'u', 'a', 't', 'e', 'u', 'g', 'a')

In [157]:
g=(1,5,6)
print(sum(g))

12

In [160]:
tup=(9,7,5,9,3,2,6,8,1)
print(sorted(tup))

[1, 2, 3, 5, 6, 7, 8, 9, 9]

## Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [161]:
dic={}
print(dic)

{}

In [164]:
print(type(dic))

<class 'dict'>

In [167]:
dic=dict()
print(type(dic))

<class 'dict'>

In [168]:
dic={}

### Dictionary Methods
<ol>
    <li>clear()	Removes all the elements from the dictionary</li>
    <li>copy()	Returns a copy of the dictionary</li>
    <li>fromkeys()	Returns a dictionary with the specified keys and value</li>
    <li>get()	Returns the value of the specified key</li>
    <li>items()	Returns a list containing a tuple for each key value pair</li>
    <li>keys()	Returns a list containing the dictionary's keys</li>
<li>pop()	Removes the element with the specified key</li>
<li>popitem()	Removes the last inserted key-value pair</li>
<li>setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value</li>
<li>update()	Updates the dictionary with the specified key-value pairs</li>
<li>values()	Returns a list of all the values in the dictionary</li>
</ol>

In [169]:
details = {
  "name": "AM",
  "age": 18
}
details.clear()
print(details)

{}

In [182]:
details = {
  "name": "AM",
  "age": 18
}
details_clone=details.copy()
print(details_clone)

{'name': 'AM', 'age': 18}

In [173]:
x = ('k1', 'k2', 'k3')
y = 0
dic = dict.fromkeys(x, y)
print(dic)

{'k1': 0, 'k2': 0, 'k3': 0}

In [178]:
print(details.get('name'))

AM

In [175]:
print(details.items())

dict_items([('name', 'AM'), ('age', 18)])

In [179]:
print(details.keys())

dict_keys(['name', 'age'])

In [183]:
details.pop('age')
print(details)

{'name': 'AM'}

In [184]:
details = {
  "name": "AM",
  "age": 18
}
details.popitem()
print(details)

{'name': 'AM'}

In [185]:
details = {
    "name": "AM",
    "age": 18,
    "company": "AMtudio"
}
x = details.setdefault("name", "AM")
print(x)

AM

In [186]:
details.update({"position": "Founder"})
print(details)

{'name': 'AM', 'age': 18, 'company': 'AMtudio', 'position': 'Founder'}

In [188]:
print(details.values())

dict_values(['AM', 18, 'AMtudio', 'Founder'])

#### Other Operations

In [190]:
print(len(details))

4

In [196]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)
print(car_type['car1'])
print(car_type['car1']['Mercedes'])

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}
{'Mercedes': 1960}
1960

# Happy Coding
## Thank You